{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="background-color:whitesmoke;">
    <div class="container">
        <div class="text-center">
            <h3><span class="badge badge-success">About Us & Our Services</span></h3>
        </div>
        <div class="text-center pt-2">
            <h4 style="border-bottom: 1px black solid;">What is this platform about?</h4>
        </div>
        <h5>Environment pollution is increasing day by day.It has become a major issue."Let's save our environment" platform will deal with this issue.It is an online based platform that is responsible for serving some great services to our environment.</h5>
        <div class="text-center pt-2">
            <h4 style="border-bottom: 1px black solid;">What We Do</h4>
        </div>
        <h5 class="pb-2">
            <ul>
                <li>In this platfrom, user can create a volunteer. Then they can share their activity about environment.Then they will get a point by analysing their activity,post react,impact etc.We are also giving volunteer different kinds of badges to make things more interesting.</li>
                <li>
                    Volunter(Person/Team) can create an event for fundings.Suppose a volunteer team are planning to organize a tree plantation program and they need some money to organize this.They can get the fundings from the contributors from this platform.
                </li>
                <li>
                    Another profile is contributor profile.User can create their contributor profile.There are many people who are willing to contribute money in such activity.This platform is best fit to them.They can see the upcoming events by volunteer from this platform and can contribute some money to the event.
                </li>
            </ul>
        </h5>
    </div>
</div>
{% endblock %}