{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="bg-secondary text-light">
    <div class="container p-2">
        <div class="text-center">
            <h3 style="border-bottom: 2px rgb(229, 238, 229) solid;">Create A Profile</h3>
            <h5>Select An Option:-</h5>
            <h5>1. <a href="{% url 'create_v_profile' request.user.id %}" style="color: darkblue;">As A Volunteer</a></h5>
            <h5>2. <a href="{% url 'create_c_profile' request.user.id %}" style="color: darkblue;">As A Contributer</a></h5>
        </div>
    </div>
</div>
{% endblock %}